<%= form_for @assessment_info do |assessment_info|%>
<div class="x_panel">
  <div class="x_content">
    <h2></h2>
    <div>

    </div>
  </div>
</div>
  <% @assessment.questions.each do |question| %>
     <%=f.collection_radio_buttons :, question., :first, :first%>
  <% end %>
<% end %>
