<tr>
        <td><%= concept.title %></td>
        <td><%= concept.level %></td>      
        <td>
          <%= link_to 'Edit', edit_concept_path(concept) %> |
          <%= link_to 'Delete', concept, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
<br>
