<div class="row wrapper border-bottom white-bg page-heading">
  <div class="col-sm-4">
    <h2>Edit Course</h2>
    <ol class="breadcrumb">
      <li>
        <a href="#">Course</a>
      </li>
      <li class="active">
        <strong>Edit</strong>
      </li>
    </ol>
  </div>
  <div class="col-sm-8">
    <div class="title-action">
      <%= link_to 'Cancel', courses_path,  :class => "btn btn-default"%>
    </div>
  </div>
</div>

<%= render 'form', course: @course %>
<div class="x_panel">
  <div class="x_title">
    <h2>Concepts in Course</h2>
    <div class="clearfix"></div>
  </div>
  <div>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Level</th>
          <th>Title</th>
          <th>Course</th>
          <th colspan="3">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%= render @course.concepts, concepts:@course.concepts %>
      </tbody>
    </table>
  </div>
</div>


<%= link_to 'Add New Concept', new_course_concept_path(@course), :class=>'btn btn-primary' %>
